.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0% { 
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-from-right {
  animation-name: fade-in-from-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in-from-right {
  0% { 
    opacity: 0;
    transform: translateX(100%)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

.fade-in-from-left {
  animation-name: fade-in-from-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in-from-left {
  0% { 
    opacity: 0;
    transform: translateX(-100%)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

.fade-in-from-below {
  animation-name: fade-in-from-below;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in-from-below {
  0% { 
    opacity: 0;
    transform: translateY(100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.fade-in-from-above {
  animation-name: fade-in-from-above;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in-from-above {
  0% { 
    opacity: 0;
    transform: translateY(-100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}