@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('./animations.css');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* font-size: 62.5%; */
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.test {
  width: 100px;
  height: 100px;
  background-color: blue;
}